absl-py==1.0.0
asgiref==3.4.1
astor==0.8.1
bleach==1.5.0
certifi==2021.5.30
dataclasses==0.8
Django==3.2.13
gast==0.5.3
grpcio==1.46.0
html5lib==0.9999999
importlib-metadata==4.8.3
joblib==1.1.0
Markdown==3.3.7
numpy==1.16.4
protobuf==3.19.4
pytz==2022.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
threadpoolctl==3.1.0
Werkzeug==2.0.3
zipp==3.6.0
